# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Environment
.env

# Database
*.db
data/*.db

# Airflow
airflow.db
airflow.cfg
logs/
airflow-webserver.pid
standalone_admin_password.txt

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/
